# Ignore the following
.DS_Store
wp-config.php
.htaccess
wp-content/uploads/2021/05/coroflot-150x150.jpg
wp-content/uploads/2021/05/coroflot-300x221.jpg
wp-content/uploads/2021/05/coroflot.jpg
wp-content/uploads/2021/05/mc-thumbnail-1-150x150.png
wp-content/uploads/2021/05/mc-thumbnail-1-300x221.png
wp-content/uploads/2021/05/mc-thumbnail-1.png
wp-content/uploads/2021/05/mc-thumbnail-2-150x150.png
wp-content/uploads/2021/05/mc-thumbnail-2-223x300.png
wp-content/uploads/2021/05/mc-thumbnail-2.png
wp-content/uploads/2021/05/mc-thumbnail-3-150x150.png
wp-content/uploads/2021/05/mc-thumbnail-3-150x300.png
wp-content/uploads/2021/05/mc-thumbnail-3-512x1024.png
wp-content/uploads/2021/05/mc-thumbnail-3.png
wp-content/uploads/2021/05/zurb-150x150.jpg
wp-content/uploads/2021/05/zurb-300x221.jpg
wp-content/uploads/2021/05/zurb.jpg